header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #110808;
    padding: 10px;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #d15d5d;
    border: 1px solid #44a6c6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}